* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom, #009688 15%, #dcdbd1 15% 100%);
}

/* GENERALS */
i:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

li {
  list-style-type: none;
}

.container {
  --bkgc-profiles: #eaeaea;
  --top-icons-color: #b6bbc4;
  --height-profiles: 50px;
  --padding: 10px;
  --margin-right-icon: 15px;
  --i-fontsize: 20px;
  display: flex;
  height: 90vh;
  min-width: 900px;
  width: 1400px;
  margin: auto;
}

.bold {
  font-weight: 600;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  border-right: 1px solid #e0e0e0;
}

.messages {
  height: 100%;
  width: 70%;
  background-color: salmon;
}

.user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bkgc-profiles);
  padding: var(--padding);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-img {
  height: var(--height-profiles);
  aspect-ratio: 1 / 1;
  margin-right: var(--margin-right-icon);
}

.user-img img {
  width: 100%;
  border-radius: 100px;
  overflow: hidden;
}

.functions i {
  color: var(--top-icons-color);
  margin: 0 10px;
  font-size: 20px;
}

.notifications {
  display: flex;
  align-items: center;
  padding: var(--padding);
  background-color: #8edafc;
}

.notifications a {
  color: grey;
}

.icon {
  background-color: white;
  font-size: 30px;
  padding: 10px;
  border-radius: 100px;
  color: #8edafc;
  margin-right: var(--margin-right-icon);
}

.search {
  display: flex;
  align-items: center;
  padding: var(--padding);
  background-color: #fafafa;
}

.search i {
  margin-right: var(--margin-right-icon);
  margin-left: 15px;
  font-size: var(--i-fontsize);
}

.search input {
  border: none;
  width: 100%;
  border-radius: 50px;
  padding: 10px;
}

.friendlist {
  background-color: white;
  display: flex;
  flex: 1 0 0;
  /* Usiamo flex per non dare una misura fissa agli elementi sopra e poi fare il calc, così invece con il grow a 1 essendo il container generale in display column quest'ultimo elemento cresce fino a riempire tutto lo spazio che rimane, dato che gli altri elementi non hanno il grow attivo.*/
  overflow-y: scroll;
}

.column .friendlist ul {
  width: 100%;
}

.column .friendlist li {
  padding: var(--padding);
  display: flex;
  width: 100%;
}

.name-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column .friendlist li:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
}

.column .friendlist li.novisible {
  display: none;
}

.column .friendlist img {
  height: var(--height-profiles);
  margin-right: var(--margin-right-icon);
  border-radius: 100px;
  overflow: hidden;
  display: inline-block;
}

.friend-box {
  line-height: 1.3rem;
  flex: 1 1 auto;
}

.last-message,
.list-date {
  color: #bbb9c0;
  font-size: 0.8rem;
}

.messages {
  --write-height: 70px;
  --active-friend-height: 70px;
}

.active-friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
  padding: var(--padding);
  height: var(--active-friend-height);
  background-color: var(--bkgc-profiles);
  position: relative;
}

.active-friend img {
  height: var(--height-profiles);
  margin-right: var(--margin-right-icon);
  border-radius: 100px;
  overflow: hidden;
}

.friend {
  display: none;
}

.active {
  display: flex;
  align-items: center;
}

.chat-container {
  background-image: url(../img/mine.jpg);
  height: calc(100% - var(--active-friend-height) - var(--write-height));
  overflow-y: scroll;
}

.chat {
  display: none;
  padding: 30px;
}

.chat.active {
  display: block;
}

.msg-cloud-container {
  display: flex;
  list-style-type: none;
  margin: 2rem 0;
}

/* Problema con testo troppo lungo viene bruttino... come fare? */
.msg-cloud {
  position: relative;
  background-color: white;
  min-width: 300px;
  max-width: 50%;
  padding: 20px;
  border-radius: 20px;
  overflow-wrap: break-word;
  /* Per fare andare a capo anche parole lunghissime una colta raggiunte le max dim. del container*/
}

.msg-cloud p {
  width: 100%;
}

.sent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.abso {
  position: absolute;
  top: 10px;
  right: 10px;
}

.select {
  position: absolute;
  top: 90%;
  right: 0px;
  width: max-content;
  display: none;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0 0 10px grey;
  z-index: 11;
}

.select li {
  padding: 1.5rem;
}
.select li:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.select.show {
  display: block;
}

.msg-cloud.sent {
  background-color: #d5f9ba;
}

.date {
  font-size: 0.7em;
  color: #b6c7ba;
  margin-top: 0.5rem;
  text-align: end;
}

.write {
  display: none;
}

.write.active {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: var(--write-height);
  background-color: #f3eeea;
}

.write input {
  font-size: 20px;
  padding: 10px;
  flex: 1 1 0;
  border: none;
}

.write i {
  font-size: 25px;
  text-align: center;
  padding: 0 30px;
}
