<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Boolzapp</title>
  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css" />
  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" defer></script>
  <script src="js/script.js" defer></script>
  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div id="root" class="container">
    <div class="column">
      <div class="static">
        <div class="user-profile">
          <div class="user-info">
            <div class="user-img">
              <img src="img/user.jpg" alt="">
            </div>
            <span>Jon Snow</span>
          </div>
          <div class="functions">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
        <div class="notifications">
          <div class="icon">

            <i class="fa-solid fa-bell-slash"></i>
          </div>
          <div class="action">
            <p>Ricevi notifiche di nuovi messaggi</p>
            <p><a href="#">Attiva notifiche desktop</a></p>
          </div>
        </div>
        <div class="search">
          <i class="fa-solid fa-magnifying-glass"></i> <input type="text" name="search-friend" id="search-friend"
            placeholder="Cerca o inizia una nuova chat">
        </div>
      </div>
      <div class="friendlist">
        <ul>
          <li v-for="(item, index) in contacts" :key="item.avatar" @click="activeIndex = index">
            <img :src="'img/' + item.avatar + '.jpg'" alt="">
            <span>{{ item.name }}</span>
          </li>
        </ul>
      </div>
    </div>


    <div class="messages">
      <div class="active-friend">
        <div class="friend" v-for="(item, index) in contacts" :key="item.avatar"
          :class="{active: index === activeIndex}">
          <img :src="'img/' + item.avatar + '.jpg'" alt="">
          <span>{{ item.name }}</span>
        </div>
      </div>
      <div class="chat-container">
        <div class="chat" v-for="(item, index) in contacts" :key="item.avatar" :class="{active: index === activeIndex}">
          <ul>
            <!-- praticamente il ciclo è come sopra, però dobbiamo dargli un nome al primo valore diverso da quello sopra perchè se no succedono problemi. Poi ovviamente non si itera più su contacts, che sarebbe l'array di oggetti in generale, ma vi si accede con item.messages dove item è il valore che abbiamo "ricavato" con il ciclo sopra e al quale possiamo accedervi. Quindi poi stampiamo itemmessage, che sarebbe l'oggetto .message che va a prendere tutti i message di ogni oggetto itemmessage.. -->
            <li v-for="(itemMessage, pos) in item.messages" :key="item.date"
              :class="{sent: itemMessage.status === 'sent'}">
              <div class="msg-cloud" :class="{sent: itemMessage.status === 'sent'}">
                <div class="abso">
                  <i class="fa-solid fa-angle-down" @click="showDropDown"></i>
                  <div class="select" :class="{show: isShown}">
                    <p>Informazioni messaggio</p>
                    <p>Cancella messaggio</p>
                  </div>
                </div>

                <p class="msg">{{itemMessage.message }}</p>
                <p class="date"> {{itemMessage.date }}</p>
              </div>
            </li>
          </ul>
        </div>


      </div>
      <div class="write" v-for="(objs, i) in contacts" :key="objs.avatar" :class="{active: i === activeIndex}">
        <i class="fa-regular fa-face-smile"></i>
        <input type="text" placeholder="Scrivi un messaggio" @keyup.enter="newMessage(i), autoAnswerTimer(i)"
          v-model="msg.message">
        <i class="fa-solid fa-microphone"></i>
      </div>
    </div>
  </div>
</body>

</html>