<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Boolzapp</title>
  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css" />
  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" defer></script>
  <script src="js/script.js" defer></script>
  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- GoogleFont -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div id="root" class="container" v-cloak>
    <!-- Left Side / Profile, FriendList -->
    <div class="column">
      <!-- Profile -->
      <div class="user-profile">
        <div class="user-info">
          <div class="user-img">
            <img src="img/user.jpg" alt="">
          </div>
          <span class="bold">Jon Snow</span>
        </div>
        <div class="functions">
          <i class="fa-solid fa-circle-notch"></i>
          <i class="fa-solid fa-message"></i>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
      </div>
      <!-- Notifications -->
      <div class="notifications">
        <div class="icon">

          <i class="fa-solid fa-bell-slash"></i>
        </div>
        <div class="action">
          <p>Ricevi notifiche di nuovi messaggi</p>
          <p><a href="#">Attiva notifiche desktop</a></p>
        </div>
      </div>
      <!-- SearchBar -->
      <div class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="search-friend" id="search-friend" placeholder="Cerca o inizia una nuova chat"
          v-model="search" @keyup="searchFriend">
      </div>
      <!-- FriendList -->
      <div class="friendlist">
        <ul>
          <li v-for="(item, index) in contacts" :key="item.avatar" @click="activeIndex = index"
            :class="{novisible: item.visible === false}">
            <img :src="'img/' + item.avatar + '.jpg'" alt="">
            <div class="friend-box">
              <div class="name-date">
                <span class="bold">{{ item.name }}</span>
                <span class="list-date">{{ item.messages[item.messages.length - 1].date}}</span>
              </div>

              <p class="last-message">
                {{ item.messages[item.messages.length - 1].message }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Right side / Active Chat -->
    <div class="messages">
      <div class="active-friend">
        <div class="user-info">
          <div class="friend" v-for="(item, index) in contacts" :key="item.avatar"
            :class="{active: index === activeIndex}">
            <img :src="'img/' + item.avatar + '.jpg'" alt="">
            <div>
              <p class="bold">{{ item.name }}</p>
              <p class="list-date">
                Ultimo accesso il {{ item.messages[item.messages.length - 1].date}}
              </p>
            </div>

          </div>
        </div>
        <div class="functions">
          <i class="fa-solid fa-magnifying-glass"></i>
          <i class="fa-solid fa-paperclip"></i>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
      </div>
      <div class="chat-container">
        <div class="chat" v-for="(item, index) in contacts" :key="item.avatar" :class="{active: index === activeIndex}">
          <ul>
            <!-- praticamente il ciclo è come sopra, però dobbiamo dargli un nome al primo valore diverso da quello sopra perchè se no succedono problemi. Poi ovviamente non si itera più su contacts, che sarebbe l'array di oggetti in generale, ma vi si accede con item.messages dove item è il valore che abbiamo "ricavato" con il ciclo sopra e al quale possiamo accedervi. Quindi poi stampiamo itemmessage, che sarebbe l'oggetto .message che va a prendere tutti i message di ogni oggetto itemmessage.. -->
            <li v-for="(itemMessage, pos) in item.messages" :key="item.date"
              :class="{sent: itemMessage.status === 'sent'}">
              <div class="msg-cloud" :class="{sent: itemMessage.status === 'sent'}">
                <div class="abso">
                  <i class="fa-solid fa-angle-down" @click="showDropDown(itemMessage)"></i>
                  <!-- <p>{{ itemMessage.isDropdownShown }}</p> -->
                  <div class="select" :class="{show: itemMessage.isDropdownShown}">
                    <p>Informazioni messaggio</p>
                    <p>Cancella messaggio</p>
                  </div>
                </div>

                <p class="msg">{{itemMessage.message }}</p>
                <p class="date"> {{itemMessage.date }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- È corretto fare il v-for anche qui per "syncare" ciò che scrivo alla casella chat di chi ho selezionato sulla sinistra? -->
      <div class="write" v-for="(objs, i) in contacts" :key="objs.avatar" :class="{active: i === activeIndex}">
        <i class="fa-regular fa-face-smile"></i>
        <input type="text" placeholder="Scrivi un messaggio" @keyup.enter="newMessage(i), autoAnswerTimer(i)"
          v-model="msg.message">
        <i class="fa-solid fa-microphone"></i>
      </div>
    </div>
  </div>
</body>

</html>